*{ 
  line-height:2.5em;

 }


body{
    /* */
    color: black;
    font-size:1em;
    text-align:center;
    background: url(../img/world-background.jpg)repeat-y;
    font-family: 'Noto Serif', serif;

}
.header{
    width: 100%;
    height:10em;
    background-image: linear-gradient(90deg,cornflowerblue, rgb(2, 2, 133)); 
    color: white;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 2px 2px 15px whitesmoke;
    font-family: 'Lobster', cursive;
}

h1{
     width:auto;
    font-size: 5em;
    text-align: left;
    color: white;
    margin: 0px auto;
    box-sizing: border-box;
}
.logo-img{
float: left;
width:100px;
height:100px;
border-radius: 50%;
margin:3.5em auto;
}
.main-wrapper{
display:grid;
grid-template-rows: 1fr 1fr;
grid-template-columns: 1fr ;
grid-gap:10px;
box-sizing: border-box;
border-radius: 5px;
margin:3em auto;
width:80%; 
height:auto;

/* border:2px solid black; */
padding:10px;
font-weight: lighter;

}
/*Loader*/
.loader {
  position: absolute;
  z-index: 1;
  display: none;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  margin: -70px auto;
  margin-left:350px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/*Loader ends*/
.map-section{
   color:white;
    border-radius: 5px;
   
}
.map{
    width: 100%;
    height:400px;
  
}

.search-section{
    color:white;
    border-radius: 5px;
}
.weather{
    display:grid;
    /* grid-row:repeat(autofit,Minmax(100px,1fr));
    grid-auto-columns: 2fr 2fr 2fr 2fr; */
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 15px;
    width: 80%;
    margin:50px auto;
   
  
}
.weather div{
    border:1px solid white;
    width:100%;
    height:250px; 
    border-radius: 15PX 0px; 
}
.pop-up{
    display:none;
}

/* .third-section{
    background-color: #C490D1;
    border-radius: 5px;
} */

input {
   width:30em;
   height:3em;
   border:0px  black;
   border-style: ridge;
   border-radius:5px;
   text-align: center;
   font-size: 1em;
   
}
input[placeholder]{
    font-family: 'Supermercado One', cursive;
    outline-color: cornflowerblue;
}
.search-button{
    width: 4.5em;
    height: 3em;
    border-radius:7px; 
    background: #111;
    border:1px solid cornflowerblue; 
background: url(../img/search.jpg)repeat;  
    font-weight: bold;
    color:black;
    font-size: 1em;
}
.search-button:hover{
    background: cornflowerblue;
    color:white;
    box-shadow:2px 1px 5px #fbfbff;
}
.errorMessage{
color:red;
font-style:italic;
font-weight: bold;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
line-height: 0.5em;
word-spacing: 0.5em;
}
.current-weather{
background:white;
color: black;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: bold;
box-shadow:2px 2px 6px cornflowerblue;  
}
.current-weather:hover{
    font-style: italic;
    transition: 1s;
    transition-timing-function: linear;
    transform: scale(1.05);

}

i{
   margin-top:0.2em;
   color: cornflowerblue;
   font-size:48px;
}



.footer{
width:100%;
height:8em;
color: white;
background:#3b3b3b;
border-top:3px solid white;
}

/*MEDIA QUERY*/
@media all and (max-width:700px){
  
h1{
    font-size:3em;
    margin-top:0em auto;
    padding-top:0.8em;
}

.main-wrapper{
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr ;
    grid-gap:5px;
    box-sizing: border-box;
    border-radius: 5px;
    margin:3em auto;
    width:100%; 
    height:60em;
   /* border:2px solid black; */
    padding:10px;
    font-weight: lighter;
    
    }

input {
    width:25em;
    height:3em;
    border:0px  black;
    border-style: ridge;
    border-radius:5px;
    text-align: center;
    font-size: 0.7em;
    
 }
 .search-button{
    width: 4.5em;
    height: 3em;
    border-radius:7px; 
    border:1px solid cornflowerblue; 
    background: url(../img/search.jpg)repeat;  
    font-weight: bold;
    color:black;
    font-size: 1em;
    margin-top:0.5em;
    box-sizing: border-box;
}
.logo-img{
height: 50%;
}
.map-section{
    width:100%;
    margin: 0px auto; 
}
.weather{
    display:grid;
    /* grid-row:repeat(autofit,Minmax(100px,1fr));
    grid-auto-columns: 2fr 2fr 2fr 2fr; */
    grid-template-columns:1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    grid-gap: 15px;
    width: 80%;
    margin:50px auto;
   
  
}
.weather div{
    border:1px solid white;
    width:100%;
    height:250px; 
    border-radius: 15pX 0px; 
}
}



/*412 screen size  */
@media all and (max-width:412px){


.header{
    width:100%;
    box-sizing: border-box;
}
.logo-img{
    height: 50%;
     width: 20%; 
    }
h1{
    font-size: 2.8em;
}
.main-wrapper{
    display:grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr ;
    grid-gap:5px;
    box-sizing: border-box;
    border-radius: 5px;
    margin:3em auto;
    width:100%; 
    height:60em;
    padding:10px;
    font-weight: lighter;
    
    }
.main-wrapper{
    width:100%;  
}
.map-section{
    margin:0px auto;
    width:100%; 
    box-sizing: border-box; 
}
input {
    width:15em;
    height:3em;
    border:0px  black;
    border-style: ridge;
    border-radius:5px;
    text-align: center;
    font-size: 0.5em;
    
 }
 .search-button{
    width: 4em;
    height: 3em;
    border-radius:7px; 
    background: #111;
    border:1px solid cornflowerblue; 
    background: url(../img/search.jpg)repeat;  
    font-weight: bold;
    color:black;
    font-size: 0.7em;
}
.errorMessage{
    color:red;
    font-style:italic;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     line-height: 0.5em; 
     word-spacing: 0.5em;
    }

.weather{
    display:grid;
    /* grid-row:repeat(autofit,Minmax(100px,1fr));
    grid-auto-columns: 2fr 2fr 2fr 2fr; */
    grid-template-columns:1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    grid-gap: 15px;
    width: 80%;
    margin:50px auto;
   
  
}
.weather div{
    border:1px solid white;
    width:100%;
    height:250px; 
    border-radius: 15pX 0px; 
}
.footer{
    width: 100%;
   
}

}